{% extends "veterinaria/layout.html" %}

{% block content %}
<nav class="navbar navbar-expand navbar-light bg-white" style="height: 71px; border-bottom: 0.5px solid #8D9DAD; padding: 30px; ">
    <div class="container-fluid">
        <div class="d-flex justify-content-between w-100">
            <h1 class="m-0" style="color:#343A40">Dashboard V3</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-sm-end mt-3">
                    <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard V3</li>
                </ol>
            </nav>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 25px;">
</div>
{% endblock %}