{% extends "veterinaria/layout.html" %}

{% block content %}
<!-- Main content -->
<section class="content">
  <nav class="navbar navbar-expand navbar-light bg-white" style="height: 71px; border-bottom: 0.5px solid #8D9DAD; padding: 30px; ">
    <div class="container-fluid">
        <div class="d-flex justify-content-between w-100">
            <h1 class="m-0" style="color:#343A40">Veterinarios</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-sm-end mt-3">
                    <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Veterinarios</li>
                </ol>
            </nav>
        </div>
    </div>
</nav>

  <div class="container-fluid" style="margin-top: 20px;">
    <div class="card">
      <div class="card-header">
        <h3>Crear Veterinario</h3>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          
          <div class="form-group">
            <label for="id_nombres">Nombres</label>
            {{ form.nombres }}
            {% if form.nombres.errors %}
              <div class="text-danger">
                {% for error in form.nombres.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="id_apellidos">Apellidos</label>
            {{ form.apellidos }}
            {% if form.apellidos.errors %}
              <div class="text-danger">
                {% for error in form.apellidos.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="id_telefono">Teléfono</label>
            {{ form.telefono }}
            {% if form.telefono.errors %}
              <div class="text-danger">
                {% for error in form.telefono.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="id_correo">Correo Electrónico</label>
            {{ form.correo }}
            {% if form.correo.errors %}
              <div class="text-danger">
                {% for error in form.correo.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="id_especialidad">Especialidad</label>
            {{ form.especialidad_id }}
            {% if form.especialidad.errors %}
              <div class="text-danger">
                {% for error in form.especialidad.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="id_fecha_nacimiento">Fecha de Nacimiento</label>
            {{ form.fecha_nacimiento }}
            {% if form.fecha_nacimiento.errors %}
              <div class="text-danger">
                {% for error in form.fecha_nacimiento.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="id_foto">Foto</label>
            {{ form.foto }}
            {% if form.foto.errors %}
              <div class="text-danger">
                {% for error in form.foto.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div class="form-group">
            <button type="submit" class="custom-btn">Guardar Veterinario</button>
            <a href="{% url 'table-veterinarios' %}" class="btn-custom">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
