{% extends "veterinaria/layout.html" %}

{% block content %}
<!-- Main content -->
<section class="content">
  <nav class="navbar navbar-expand navbar-light bg-white" style="height: 71px; border-bottom: 0.5px solid #8D9DAD; padding: 30px; ">
    <div class="container-fluid">
        <div class="d-flex justify-content-between w-100">
            <h1 class="m-0" style="color:#343A40">Horarios</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-sm-end mt-3">
                    <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Horarios</li>
                </ol>
            </nav>
        </div>
    </div>
</nav>

  <div class="container-fluid" style="margin-top: 20px;">
    <div class="card">
      <div class="card-header">
        <h3>Crear Horario</h3>
      </div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_hora">Hora</label>
            {{ form.hora }}
          </div>
          <button type="submit" class="custom-btn">Guardar Horario</button>
          <a href="{% url 'table-horarios' %}" class="btn-custom">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- /.content -->
