{% extends "veterinaria/layout.html" %}

{% block content %}
<!-- Main content -->
<section class="content">
  <nav class="navbar navbar-expand navbar-light bg-white" style="height: 71px; border-bottom: 0.5px solid #8D9DAD; padding: 30px; ">
    <div class="container-fluid">
        <div class="d-flex justify-content-between w-100">
            <h1 class="m-0" style="color:#343A40">Metodos Pago</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-sm-end mt-3">
                    <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Meotodos Pago</li>
                </ol>
            </nav>
        </div>
    </div>
</nav>

  <div class="container-fluid" style="margin-top: 20px;">
    <div class="card">
      <div class="card-header">
        <h3>Detalles de Método de Pago</h3>
        <a href="{% url 'table-metodos-pago' %}" class="custom-btn">Volver a la lista</a>
      </div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">ID:</dt>
          <dd class="col-sm-9">{{ metodo_pago.metodo_id }}</dd>

          <dt class="col-sm-3">Nombre:</dt>
          <dd class="col-sm-9">{{ metodo_pago.nombre }}</dd>
        </dl>
      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- /.content -->
